<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.0/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="./vendor/autoload.php"
        >
    <php>
        <server name="KERNEL_CLASS" value="MewesK\TwigSpreadsheetBundle\Tests\Functional\Fixtures\TestAppKernel"/>
    </php>

    <testsuites>
        <testsuite name="MewesKTwigSpreadsheetBundle Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./src/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
