services:
    mewes_k_twig_spreadsheet.add_request_formats_listener:
        class: MewesK\TwigSpreadsheetBundle\EventListener\AddRequestFormatsListener
        tags:
            - { name: kernel.event_subscriber }

    mewes_k_twig_spreadsheet.twig_spreadsheet_extension:
        class: MewesK\TwigSpreadsheetBundle\Twig\TwigSpreadsheetExtension
        arguments: [ null ] # config placeholder
        tags:
            - { name: twig.extension }
